.index-rule-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.8);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.index-rule-modal {
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
  // width: 560px;
  // height: 299px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .head-wrapper {
    display: flex;
    width: 660px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 108px;
    position: relative;

    .image-title {
      width: 335px;
      height: 91px;
    }

    .image-close {
      position: absolute;
      width: 64px;
      height: 64px;
      top: 45px;
      right: 6px;
    }
  }

  .index-rule-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    height: 890px;
    background: #fffef7;
    border-radius: 16px;

    .title {
      font-size: 28px;
      font-family: SourceHanSansCN;
      font-weight: 400;
      color: #ffffff;
      margin-top: 50px;
    }

    .medal-text {
      font-size: 48px;
      font-family: SourceHanSansCN;
      font-weight: bold;
      color: #ffffff;
      margin-top: 6px;
    }

    .image-medal {
      width: 311px;
      height: 358px;
      margin-top: 20px;
    }

    .image-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 616px;
      height: 222px;
      margin-top: 80px;
      background-size: 100% 100%;
      background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/donate/ic_donate_result_box.png);

      .image-qr-code {
        width: 120px;
        height: 120px;
        margin-right: 67px;
      }

      .image-pa {
        width: 131px;
        height: 27px;
        margin-left: 27px;
      }

      .left-wrapper {
        display: flex;
        flex-direction: column;
        margin-left: 27px;
      }

      .spacebetween-top {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        margin-top: 36px;
      }

      .spacebetween-bottom {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 7px;

        .text {
          font-size: 20px;
          font-family: SourceHanSansCN;
          font-weight: 400;
          color: #000000;
          opacity: 0.6;
          margin-right: 27px;
          margin-bottom: -5px;
        }
      }

      .text-index {
        font-size: 24px;
        font-family: SourceHanSansCN;
        font-weight: 400;
        color: #000000;
        line-height: 46px;
        opacity: 0.6;
      }

      .text-nickname {
        font-size: 38px;
        font-family: SourceHanSansCN;
        font-weight: bold;
        color: #336c48;
      }
    }
  }

  .bottom-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
  }

  .save-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 100px;
    background: rgba(255, 114, 20, 0);
    border: 2px solid #ff4800;
    border-radius: 50px;

    .text {
      font-size: 32px;
      font-family: PingFang SC;
      font-weight: 600;
      color: #ff4800;
    }
  }

  .share-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 330px;
    height: 100px;
    background: #ff4800;
    border-radius: 50px;
    margin-left: 20px;

    .text {
      font-size: 32px;
      font-family: PingFang SC;
      font-weight: 600;
      color: #ffffff;
    }
  }
}
