.remould-clothes-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  height: 3175px;
  margin-top: -175px;
  background-size: 100% 100%;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/remould/bg_remould_clothes_course.png);

  .btn-take-photo {
    width: 652px;
    height: 157px;
    margin-top: 2859px;
  }
}
