.donate {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  height: 1797px;
  margin-top: -175px;
  background-size: 100% 100%;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/donate/bg_donate.png);
}

.second-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  height: 1338px;
  background-size: 100% 100%;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/donate/bg_donate.png);
}

.back {
  width: 98px;
  height: 54px;
  margin-top: 35px;
  background-size: 100% 100%;
  align-self: flex-start;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/common/ic_back.png);

  .text {
    text-align: center;
    font-size: 24px;
    font-family: PingFang SC;
    color: #ffffff;
    font-weight: 600;
  }
}

.geometry-image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  width: 100%;

  .image-oval {
    width: 103px;
    height: 429px;
    margin-top: -175px;
  }

  .image-rect {
    width: 107px;
    height: 192px;
    margin-top: -76px;
  }
}

.image-do-it {
  width: 194px;
  height: 45px;
  margin-top: 42px;
}

.image-title {
  width: 463px;
  height: 63px;
  margin-top: 30px;
}

.image-desc {
  width: 461px;
  height: 25px;
  margin-top: 16px;
}

.image-text-1 {
  width: 313px;
  height: 45px;
  margin-top: 70px;
}

.image-text-2 {
  width: 504px;
  height: 63px;
  margin-top: 18px;
}

.image-donate-tips {
  width: 633px;
  height: 446px;
  // margin-top: 65px;
}

.image-bubble {
  width: 681px;
  height: 364px;
  align-self: flex-start;
}

.image-submit-btn {
  width: 500px;
  height: 100px;
  margin-top: 1624px;
  // margin-bottom: 74px;
  // position: fixed;
  // bottom: 74px;
}
