.index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // background-size: 100% 100%;
  background: #fff1af;
  // background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/index/bg_index.png);
}

.index-modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #fff1af;
}

.back {
  position: absolute;
  width: 98px;
  height: 54px;
  left: 0px;
  margin-top: 35px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/common/ic_back.png);

  .text {
    font-size: 24px;
    font-family: PingFang SC;
    color: #ffffff;
    font-weight: 600;
  }
}

.rule {
  position: absolute;
  width: 128px;
  height: 54px;
  right: 0;
  margin-top: 35px;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/common/ic_rule.png);

  .text {
    font-size: 24px;
    font-family: PingFang SC;
    color: #ffffff;
    font-weight: 600;
  }
}

.index-head-wrapper {
  display: flex;
  flex-direction: column;
  width: 750px;
  height: 1042px;
  align-self: center;
  align-items: center;
  background-size: 100% 100%;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/index/bg_index_head.png);

  .iamge-title {
    width: 599px;
    height: 200px;
    margin-top: 23px;
  }

  .image-desc {
    width: 679px;
    height: 286px;
    margin-top: 512px;
  }
}

.task-count {
  display: flex;
  width: 602px;
  height: 180px;
  background: #fffbe7;
  border-radius: 12px;
  margin-top: 50px;
  align-self: center;
  flex-direction: row;
  align-items: center;

  .task-count-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

    .task-count-label {
      font-size: 24px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #000000;
      opacity: 0.6;
    }

    .task-count-text {
      font-size: 48px;
      font-family: Roboto;
      font-weight: bold;
      color: #ff4800;
    }
  }
}

.task-count-line {
  width: 1px;
  height: 82px;
  border: 1px solid #d2c88d;
  opacity: 0.55;
}

.task-box {
  display: flex;
  width: 671px;
  height: 802px;
  align-self: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/index/bg_index_task_box.png);

  .head-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    margin-left: 49px;
    margin-right: 49px;

    .left-wrapper {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
    }

    .text {
      font-size: 24px;
      font-family: PingFang SC;
      font-weight: 400;
      color: #000000;
      opacity: 0.6;
      margin-top: 16px;
    }

    .tips {
      width: 276px;
      height: 38px;
    }

    .gift {
      width: 95px;
      height: 103px;
    }
  }

  .space-33 {
    margin-top: 10px;
  }

  .item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 37px;
    margin-right: 37px;

    .image {
      width: 140px;
      height: 147px;
      margin-top: 25px;
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      margin-left: 20px;

      .title {
        font-size: 28px;
        font-family: PingFang SC;
        font-weight: 600;
        color: #5d371c;
      }

      .desc {
        font-size: 24px;
        font-family: PingFang SC;
        color: #000000;
        opacity: 0.6;
        margin-top: 6px;
      }
    }

    .btn-wrapper {
      width: 130px;
      height: 54px;
      border-radius: 27px;
      background: #ff4800;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .text {
        font-size: 28px;
        font-family: PingFang SC;
        color: #ffffff;
        font-weight: 600;
      }
    }

    .left-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.index_gift_wrapper {
  display: flex;
  width: 692px;
  height: 701px;
  align-self: center;
  flex-direction: row;
  justify-content: center;
  background-size: 100% 100%;
  background-image: url(https://6e6f-nonprofit-8g11k5jj7aa730f7-1254641557.tcb.qcloud.la/assets/index/bg_index_gift_box.png);
  margin-top: 76px;

  .image_luckdraw {
    width: 528px;
    height: 214px;
    margin-top: 105px;
  }

  .image_unluckdraw {
    width: 518px;
    height: 192px;
    margin-top: 105px;
  }
}

.image-classroom {
  display: flex;
  width: 699px;
  height: 1132px;
  align-self: center;
  flex-direction: column;
  margin-top: 71px;
  margin-bottom: 219px;
}

.share {
  align-self: flex-end;
}
